.navBg{
    .nav{
        color: navy;
        background-color: orange;
        height: 60px;
    }

    .musix{
        color: navy;
        background-color: orange;

        h1{
            font-size: 30px;
        }
    }
}